

/*
Design by Free CSS Templates
http://www.freecsstemplates.org
Released for free under a Creative Commons Attribution 2.5 License
*/

body {
	margin: 0;
	padding: 0;
	background: #F5F5F5;
	font-family: Arial, Helvetica, sans-serif;
	font-size: 14px;
	color: #181B20;
}

h1, h2, h3 {
	margin: 0px;
	padding: 0px;
	/*text-transform: lowercase;*/
	font-family: 'Abel', sans-serif;
	font-weight: 400;
}

h1 {
	font-size: 12px;
}

h2 {
	font-size: 2.4em;
}

h3 {
	font-size: 1.6em;
}

p, ul, ol {
	margin-top: 0;
	line-height: 180%;
}

ul, ol {
}

a {
	text-decoration: none;
	color: #398A12;
}

a:hover {
	text-decoration: underline;
}

img.border {
	border: 6px solid #EEE7DF;
}

img.alignleft {
	float: left;
	margin-right: 25px;
}

img.alignright {
	float: right;
}

img.aligncenter {
	margin: 0px auto;
}

#wrapper {
	margin: 0 auto;
	padding: 0;
}

/* Header */


#header {
	width: 100%;
	height: 130px;
	margin: 0 auto;
}

#header h1 {
	margin: 0; /* zeroing the margin of the last element in the #header div will avoid margin collapse - an unexplainable space between divs. If the div has a border around it, this is not necessary as that also avoids the margin collapse */
	padding: 10px 20px 20px 10px; /* using padding instead of margin will allow you to keep the element away from the edges of the div */
	color: #AAAAAA;
	text-align:center;
	font-size:17px;
        font-family: "Tahoma", Times, serif;
        background:url(images/logo.jpg) no-repeat left ;
}

#header h3 {
	margin: 0; /* zeroing the margin of the last element in the #header div will avoid margin collapse - an unexplainable space between divs. If the div has a border around it, this is not necessary as that also avoids the margin collapse */
	padding: 0px 90px 50px 50px; /* using padding instead of margin will allow you to keep the element away from the edges of the div */
	color:#CC8888;
	text-align:right;
        font-style: italic;
	font-size:11px;
        font-family: "serif", Times, serif;
}


/* Logo */

#logo {
	width: 980px;
	height: 100px;
	margin: 0px auto;
	padding: 10px 0px 0px 0px;
	color: #FFFFFF;
}

#logo h1, #logo p {
	display: block;
	margin: 0px;
	padding: 0px;
	/*text-transform: lowercase;*/
}

#logo h1 {
	letter-spacing: -5px;
	text-align: center;
	/*text-transform: lowercase;*/
	font-size: 50px;
	color: #777777;
}

#logo h1 a {
	color: #777777;
}

#logo p {
	
	text-align: center;
	font-family: 'Abel', sans-serif;
	font-size: 20px;
        color: #777777;
}

#logo a {
	border: none;
	background: none;
	text-decoration: none;
	color: #FFFFFF;
}

/* Search */

#search {
	float: right;
	width: 280px;
	height: 100px;
	padding: 0;
}

#search form {
	height: 41px;
	margin: 0;
	padding: 60px 0 0 30px;
}

#search fieldset {
	margin: 0;
	padding: 0;
	border: none;
}

#search-text {
	width: 195px;
	padding: 6px 10px;
	border: none;
	background: #FFFFFF;
	text-transform: lowercase;
	font: normal 11px Arial, Helvetica, sans-serif;
	color: #7F7F81;
}

#search-submit {
	display: none;
}

/* Menu */

#menu {
	width: 940px;
	height: 60px;
	margin: 0px auto;
	padding: 0px 20px 0px 20px;
	background: #33820F url(images/menu-wrapper-bg.png) repeat-x left top;
}

#menu ul {
	margin: 0;
	padding: 0px 0px 0px 0px;
	list-style: none;
	line-height: normal;
}

#menu li {
	float: left;
	margin-right: 1px;
}

#menu a {
	display: block;
	float: left;
	height: 60px;
	margin: 0px;
	padding: 0px 30px 0px 30px;
	line-height: 60px;
	letter-spacing: -1px;
	text-decoration: none;
	text-transform: lowercase;
	text-shadow: 2px 2px 2px #2E7C0E;
	font-family: 'Abel', sans-serif;	
	font-size: 24px;
	font-weight: normal;
	color: #FFFFFF;
	border: none;
}

#menu .current_page_item a {
	text-shadow: 2px 2px 2px #1B5803;
	background: #276D05;
}

#menu a:hover {
	background: #276D05;
	text-decoration: none;
	text-shadow: 2px 2px 2px #1B5803;
	color: #FFFFFF;
}

/* Page */

#page {
	width: 980px;
	margin: 0px auto;
	padding: 0px;
}

#page h1 {
	margin: 0; /* zeroing the margin of the last element in the #header div will avoid margin collapse - an unexplainable space between divs. If the div has a border around it, this is not necessary as that also avoids the margin collapse */
	padding: 1px 40px 3px 30px; /* using padding instead of margin will allow you to keep the element away from the edges of the div */
	color:#CB8852;
	font-size:16px;
        font-style: italic;
        font-family:"Tahoma", Times, serif;
        background:url(images/folder_full.png) no-repeat left center;
        height:25px;
        border-bottom-width: 1px;
	border-bottom-style: solid;
	border-bottom-color: #eee6e6;
        border-top-width: 1px;
	border-top-style: solid;
	border-top-color: #eee6e6;
}

/* Content */

#content {
	float: right;
	width: 685px;
	padding: 30px 30px 0px 30px;
	background: #FFFFFF  no-repeat left bottom;
}

.post {
	clear: both;
	padding-bottom: 10px;
}

.post .title {
	padding-top: 10px;
	letter-spacing: -4px;
	text-transform: lowercase;
	font-size: 50px;
}

.post .title a {
	border: none;
	color: #272727;
}

.post .meta {
	padding-bottom: 10px;
	text-align: left;
	font-family: Arial, Helvetica, sans-serif;
	font-size: 11px;
	font-style: italic;
}

.post .meta a {
}

.post .entry {
	text-align: justify;
	margin-bottom: 25px;
	padding: 10px 0px 0px 0px;
}


#post b {
	color: #9f9f98;
	font-weight:bold;
        font-family:"Comic Sans MS", Georgia,Verdana, serif;
        font-size: 14px;
}

#post ul li{
	background:url(images/blue-add.png) no-repeat left #eee6e6;
        background-position:5px 5px;
        border-bottom:1px #FFFFFF solid;
        text-decoration:none;
        color:#a04b4b;
        padding:0 0 0 30px;
        line-height:25px;
        list-style: none;
        font-family:"Tahoma", Georgia,Verdana, serif;
}

#post p{
	background: #eee6e6;
        background-position:5px 5px;
        border-bottom:1px #FFFFFF solid;
        text-decoration:none;
        color:#a04b4b;
        padding:0 0 0 10px;
        line-height:25px;
        list-style: none;
        font-family:"Tahoma", Georgia,Verdana, serif;
}

#post a{
        border-bottom:1px #FFFFFF solid;
        text-decoration:none;
        color:#CC6699;
        padding:0 0 0 0px;
        line-height:25px;
        list-style: none;
        font-family: "Tahoma",Arial,Verdana, serif;
        font-size: 12px;
}


.links {
	display: block;
	width: 96px;
	padding: 2px 0px 2px 0px;
	background: #A53602;
	text-align: center;
	text-transform: uppercase;
	font-size: 10px;
	color: #FFFFFF;
}

/* Sidebar */

#sidebar-bg {
	float: left;
	width: 230px;
        height: 100%;
	background: #F0F0F0;
}

#sidebar {
	overflow: hidden;
	width: 230px;
	padding: 0px 0px 0px 0px;
	/*background: url(images/sidebar-bg-bottom.png) no-repeat left bottom;*/
}

#sidebar ul {
	margin: 0;
	padding: 0;
	list-style: none;
}

#sidebar li {
	margin: 0;
	padding: 0;
}

#sidebar li ul {
	margin: 0px 0px;
	padding-bottom: 30px;
}

#sidebar li li {
	padding-left: 30px;
	line-height: 35px;
	background: url(images/img01.gif) no-repeat left 5px;
}

#sidebar li li span {
	display: block;
	margin-top: -20px;
	padding: 0;
	font-size: 11px;
	font-style: italic;
}

/*#sidebar h2 {
	height: 38px;
	margin-bottom: 20px;
	padding: 12px 0 0 0px;
	border-bottom: 1px solid #DEDEDE;
	letter-spacing: -2px;
	font-size: 30px;
}*/

#sidebar h2 {
	color:#FFFFFF;
        padding:5px 0 0 5px;
        font-size:14px;
        font-family: "Tahoma", Times, serif;
	border-bottom: 1px solid #DEDEDE;
	/*border-top-style: dashed;*/
        background:#777744;
        height: 25px;
}

#sidebar p {
	margin: 0 0px;
	padding: 0px 20px 5px 20px;
	text-align: justify;
}

#sidebar a {
	color: #9988aa;
	/*font-weight: bold;*/
        font-family: "Tahoma", Times, serif;
}

#sidebar a:hover {
	text-decoration: underline;
}

#sidebar1 ul li a {
	color: #9988aa;
	text-decoration: none;
	font-size:12px;
}


/* Calendar */

#calendar {
}

#calendar_wrap {
	padding: 20px;
}

#calendar table {
	width: 100%;
}

#calendar tbody td {
	text-align: center;
}

#calendar #next {
	text-align: right;
}

/* Footer */

#footer {
	width: 650px;
	height: 100px;
	margin: 0px auto;
	padding-left: 330px;
}

#footer p {
	margin: 0;
	padding-top: 18px;
	line-height: normal;
	letter-spacing: -1px;
	text-align: center;
	text-shadow: 1px 1px 1px #050505;
	text-transform: lowercase;
	font-family: 'Abel', sans-serif;
	font-size: 20px;
	color: #525050;
}

#footer a {
	text-decoration: underline;
	color: #525050;
}

#slider {
	position: relative;
	width: 590px;
	margin: 0px auto 20px auto;
}

#slider .viewer {
	width: 590px;
	height: 300px;
	overflow: hidden;
	margin: 0 auto;
}

#slider .viewer .reel {
	display: none;
	height: 300px;
}

#slider .viewer .reel .slide {
	position: relative;
	width: 590px;
	height: 300px;
}

/*--------left menu---------*/
ul.left_menu{
width:236px;
padding:0px;
margin:0px;
list-style:none;
}
ul.left_menu li{
margin:0px;
list-style:none;
}
ul.left_menu li.odd a{
width:236px;height:25px;display:block;background:url(images/checked.png) no-repeat left #F0F0F0; background-position:8px 5px;border-bottom:0px #FFFFFF solid;
text-decoration:none;color:#504b4b;padding:0 0 0 33px; line-height:25px;
}
ul.left_menu li.even a{
width:236px;height:25px;display:block;background:url(images/checked.png) no-repeat left #FFFFFF;background-position:8px 5px;border-bottom:0px #FFFFFF solid;
text-decoration:none;color:#504b4b;padding:0 0 0 33px; line-height:25px;
}
ul.left_menu li.even a:hover, ul.left_menu li.odd a:hover{
background:url(images/checked.png) no-repeat left #7bbcc7; color:#FFFFFF;background-position:5px 5px;
}

.cari a{
    font: bold 13px  "Tahoma", Arial, Helvetica, sans-serif;
	height:28px;
        display:inline;
        background:url(images/65.png) no-repeat left #C1DAD7;
        background-position:4px 5px;
        border-bottom:1px #FFFFFF solid;
        color:#504b4b;
}


/*--------------*/

.head td{
	font: bold 13px  "Tahoma", Arial, Helvetica, sans-serif;
	color: #BC8F8F;
	border-right: 1px solid #333333;
	border-bottom: 1px solid #333333;
	border-top: 1px solid #333333;
	letter-spacing: 1px;
	padding: 4px 2px 4px 10px;
	background: #eee6e6 ;
}

.head2 td{
        border-right: 1px solid #777777;
	border-bottom: 1px solid #777777;
	border-top: 1px solid #777777;
	padding: 6px 1px 6px 1px;
        background: #555555;
	color:#DDDDDD;
	font: 12px  "Tahoma", Arial, Helvetica, sans-serif;	
        height:100%
}

.isikepala td{
        font-family: "Tahoma", Times, serif;
        background:url(images/head.png) no-repeat left ;
}

.isi td{
	border-right: 1px solid #333333;
	border-bottom: 1px solid #333333;
	background: #ffffff;
	padding-top:1px;
	padding-bottom:1px;
	padding-left:8px;
	padding-right:8px;
	color:#CC6699;
	font: 12px  "Tahoma", Arial, Helvetica, sans-serif;
}

.isi2 td{
	padding-top:1px;
	padding-bottom:1px;
	padding-left:8px;
	padding-right:8px;
        font-family: Georgia, "Times New Roman", Times, serif;
	font-size: 13px;
	font-style: italic;
	color:#999999;
}

.isi3 td{
	border-right: 1px solid #FFFFFF;
	border-bottom: 1px solid #FFFFFF;
	background: #ffffff;
	padding-top:0px;
	padding-bottom:0px;
	padding-left:4px;
	padding-right:0px;
	color:#CC6699;
	font: 13px  "Tahoma", Arial, Helvetica, sans-serif;
}

.isi4 td{
        font: bold 13px  "Tahoma", Arial, Helvetica, sans-serif;
	color: #BC8F8F;
	border-right: 1px solid #eee6e6;
	border-bottom: 1px solid #eee6e6;
	border-top: 1px solid #eee6e6;
	letter-spacing: 1px;
	padding: 4px 2px 4px 10px;
	background: #eee6e6 ;
}

.isi5 td{
	border-right: 0px solid #eee6e6;
	border-bottom: 0px solid #eee6e6;
        border-top: 0px solid #eee6e6;
	padding-top:0px;
	padding-bottom:0px;
	padding-left:8px;
	padding-right:8px;
	color:#CC6699;
	font: 13px  tahoma, Arial, Helvetica, sans-serif;
}

.isi6 td{
	border-right: 1px solid #FFFFFF;
	border-bottom: 1px solid #FFFFFF;
	background: #ffffff;
	padding-top:0px;
	padding-bottom:0px;
	padding-left:1px;
	padding-right:0px;
	color:#CC6699;
	font: 9px 'Tahoma';
        font-weight: bold;
}

.isi7 td{
	border-right: 0px solid #C1DAD7;
	border-bottom: 0px solid #C1DAD7;
	padding-top:1px;
	padding-bottom:1px;
	padding-left:8px;
	padding-right:8px;
	color:#555555;
	font: 12px  "Tahoma", Arial, Helvetica, sans-serif;
}

.isi8 td{
	border-right: 1px solid #FFFFFF;
	border-bottom: 1px solid #FFFFFF;
	background: #ffffff;
	padding-top:0px;
	padding-bottom:0px;
	padding-left:4px;
	padding-right:0px;
	color:#CC6699;
	font: 12px  "Arial", Arial, Helvetica, sans-serif;
	font-style: italic;
}


.head9 td{
	font: 12px  "Arial", Arial, Helvetica, sans-serif;
        font-style: italic;
	color:#CC6699;
	border-right: 1px solid #C1DAD7;
	border-bottom: 1px solid #C1DAD7;
	border-top: 1px solid #C1DAD7;
	padding: 4px 2px 4px 10px;
	background: #ffffff;
}

.isi9 td{
	border-right: 1px solid #C1DAD7;
	border-bottom: 1px solid #C1DAD7;
	background: #ffffff;
	padding-top:1px;
	padding-bottom:1px;
	padding-left:8px;
	padding-right:8px;
	color:#CC6699;
	font: 12px  "Arial", Arial, Helvetica, sans-serif;
        font-style: italic;
}

.isi10 td{
	border-right: 1px solid #FFFFFF;
	border-bottom: 1px solid #FFFFFF;
	background: #ffffff;
	padding-top:0px;
	padding-bottom:0px;
	padding-left:4px;
	padding-right:0px;
	color:#CC6699;
	font: 12px  "Arial", Arial, Helvetica, sans-serif;
        font-style: italic;
}

.isi11 td{
        border-right: 1px solid #C1DAD7;
	border-bottom: 1px solid #C1DAD7;
	background: #ffffff;
	padding-top:1px;
	padding-bottom:1px;
	padding-left:8px;
	padding-right:8px;
	color:#CC6699;
	font: 12px  "Tahoma", Arial, Helvetica, sans-serif;	
        height:100%
}


.isi12 td{
	
	/*border-bottom: 1px solid #FFFFFF;*/
	background: #ffffff;
	padding-top:0px;
	padding-bottom:0px;
	padding-left:0px;
	padding-right:0px;
	color:#CC6699;
	font: 12px  "Tahoma", Arial, Helvetica, sans-serif;
}

.isi13 td{
	
	border-bottom: 0px;
	background: #ffffff;
	padding-top:0px;
	padding-bottom:0px;
	padding-left:0px;
	padding-right:0px;
	color:#CC6699;
	font: 12px  "Tahoma", Arial, Helvetica, sans-serif;
}

.tb table{
	border-right: 1px solid #C1DAD7;
	border-bottom: 1px solid #C1DAD7;
	border-top: 1px solid #C1DAD7;
        border-left: 1px solid #C1DAD7;
}

.tblbg table{
	background:#ffffff url(images/bgser.png) no-repeat center center ;
}

.button {
	margin-left: 0px;
	padding: 4px 4px;
	border: none;
	background: #915555;
	font-size: 12px;
	color: #FFFFFF;        
        font-family: "Tahoma", Times, serif;
         width:60px;
}

.text {
	background: #FFFFFF;
        font-size: 13px;
	padding: 3px 0 3px 5px;
	border: 1px solid #999999;
	color: #000000;
}

.text2 {
	background: #FFFFFF;
        font-size: 13px;
	padding: 3px 0 3px 5px;
	border: 1px solid #999999;
	color: #000000;
        width:210px;
}

.text3 {
	background: #FFFFFF;
        font-size: 13px;
	padding: 3px 0 3px 5px;
	border: 1px solid #999999;
	color: #000000;
        width:90px;
}

.text4 {
	background: #FFFFFF;
        font-size: 13px;
	padding: 3px 0 3px 5px;
	border: 1px solid #999999;
	color: #000000;
        width:300px;
}

.caption{
        height: 22px;
	padding: 0px 0 0 3px;
	color: #Af9f9f;
	font-weight:bold;
        font-family:"Tahoma", Georgia,Verdana, serif;
        font-size: 13px;
}

.link {
        font-family: Georgia, "tahoma", Times, serif;
	font-size: 12px;
	color: #BF3600;
        list-style: none;
}


/*---------------contact_form------------------*/
.contact_form{
width:355px;
float:left;
padding:25px;
margin:20px 0 0 15px;
border:1px #DFD1D2 dashed;
position:relative;
}
.form_row{
width:335px;
clear:both;
padding:10px 0 10px 0;
color:#a53d17;
}
label.contact{
width:75px;
float:left;
font-size:12px;
text-align:right;
padding:4px 5px 0 0;
color: #333333;
}

input.teks_input{
    height:18px;
    background-color:#fff;
    color:#999999;
    border:1px #DFDFDF solid;
    float:left;
}

textarea.teks_textarea{
    height:120px;
    font-family:Arial, Helvetica, sans-serif;
    font-size:12px;
    color: #999999;
    background-color:#fff;
    border:1px #DFDFDF solid;
    float:left;
}

input.register{
    height:25px;
    border:none;
    cursor:pointer;
    text-align:center;
    color:#FFFFFF;
    background:url(images/register_bt.gif) no-repeat center;
}

.vertical-text {
    width:500px;
    height:50px;
    -ms-transform: rotate(270deg); /* IE 9 */
    -webkit-transform: rotate(270deg); /* Chrome, Safari, Opera */
    transform: rotate(270deg);
    transform-origin: center center;
}

/*---------*/

#post b {
	color: #9f9f98;
	font-weight:bold;
        font-family:"Comic Sans MS", Georgia,Verdana, serif;
        font-size: 14px;
}

#post ul li{
	background:url(images/blue-add.png) no-repeat left #eee6e6;
        background-position:5px 5px;
        border-bottom:1px #FFFFFF solid;
        text-decoration:none;
        color:#a04b4b;
        padding:0 0 0 30px;
        line-height:25px;
        list-style: none;
        font-family:"Tahoma", Georgia,Verdana, serif;
}

#post p{
	background: #eee6e6;
        background-position:5px 5px;
        border-bottom:1px #FFFFFF solid;
        text-decoration:none;
        color:#a04b4b;
        padding:0 0 0 10px;
        line-height:25px;
        list-style: none;
        font-family:"Tahoma", Georgia,Verdana, serif;
}

#post a{
        border-bottom:1px #FFFFFF solid;
        text-decoration:none;
        color:#CC6699;
        padding:0 0 0 0px;
        line-height:25px;
        list-style: none;
        font-family: "Tahoma",Arial,Verdana, serif;
        font-size: 12px;
}

.entry{
        color:#604b4b;
        font-family:Arial, Georgia,Verdana, "Tahoma";
        font-size: 12px;
}

