alarm
build
dist
driverFlexCode
k-base
KhanzaPengenkripsiTeks
KhanzaSecurity16bit
KhanzaUpdater
pendaftaran-android-ios
pendaftaran2
presensi
resumepasien
nbproject/project.properties
nbproject/private/private.xml
.DS_Store
*/.DS_Store
setting/database.xml
setting/database-online.xml
nbproject/genfiles.properties
nbproject/example-project.properties
