alarm
ApkRegistrasiOnline
build
dist
DocumenPengembangan
driverFlexCode
k-base
KhanzaAntrianApotek
KhanzaAntrianLoket
KhanzaAntrianPoli
KhanzaHMSAnjungan
KhanzaHMSAnjunganFingerPrint
KhanzaHMSAutoVerify
KhanzaHMSResume
KhanzaHMSServiceAplicare
KhanzaHMSServiceSIRSYankes
KhanzaPengenkripsiTeks
KhanzaSecurity16bit
KhanzaUpdater
pendaftaran-android-ios
pendaftaran2
presensi
resumepasien
nbproject/project.properties
nbproject/private/private.xml
.DS_Store
*/.DS_Store
setting/database.xml
setting/database-online.xml
