alarm
build
dist
driverFlexCode
k - base
KhanzaPengenkripsiTeks
KhanzaSecurity16bit
KhanzaUpdater
pendaftaran - android - ios
pendaftaran2
presensi
resumepasien
nbproject/project.properties
nbproject/private/private.xml
nbproject/genfiles.properties
.DS_Store */.DS_Store
setting/database.xml
setting/database - online.xml
nbproject/example - project.properties
resumemedis.html
logging khanza.log
report
setting
