@charset "utf-8";
body  {
	font-family:"Comic Sans Ms", Helvetica, sans-serif;
	font-size:12px;
	background:#FFFFFF ;
	margin: 0; /* it's good practice to zero the margin and padding of the body element to account for differing browser defaults */
	padding: 0;
	color: #000000;
}

#fullheight{height:100%}

h1 {
	color:#84be19;
}
#container { 
	width: 900px;  /* using 20px less than a full 800px width allows for browser chrome and avoids a horizontal scroll bar */
	background: #FFFFFF;
	margin: 0 auto; /* the auto margins (in conjunction with a width) center the page */
} 
#header { 
	background: #434343;
	width: 900px;
	height: 128px;
}
#header .headerBackground {
	width:900px;
	height:84px;
	background:url(images/img01.gif) repeat-x left top;
} 
#header h1 {
	margin: 0; /* zeroing the margin of the last element in the #header div will avoid margin collapse - an unexplainable space between divs. If the div has a border around it, this is not necessary as that also avoids the margin collapse */
	padding: 0px 20px 20px 10px; /* using padding instead of margin will allow you to keep the element away from the edges of the div */
	color: #AAAAAA;
	text-align:center;
	font-size:15px;
        font-style: italic;
        font-family: "Comic Sans Ms", Times, serif;
        background:url(images/head.png) no-repeat left ;
}
#header h3 {
	margin: 0; /* zeroing the margin of the last element in the #header div will avoid margin collapse - an unexplainable space between divs. If the div has a border around it, this is not necessary as that also avoids the margin collapse */
	padding: 0px 90px 50px 50px; /* using padding instead of margin will allow you to keep the element away from the edges of the div */
	color:#CC8888;
	text-align:right;
        font-style: italic;
	font-size:11px;
        font-family: "serif", Times, serif;
}
#sidebar1 {
	float: right; /* since this element is floated, a width must be given */
	width: 200px; /* the actual width of this div, in standards-compliant browsers, or standards mode in Internet Explorer will include the padding and border in addition to the width */
	background: #ffffff; /* the background color will be displayed for the length of the content in the column, but no further */
	margin:8px 0px 20px 0;
}
#sidebar1 a, #mainContent a {
	color:#84be19;
	/*font-weight: bold;*/
        font-family: "Comic Sans Ms", Times, serif;
}
#sidebar1 h2 {
	color:#D9D9D9;
        padding:5px 0 0 5px;
        font-size:14px;
        font-family: "Comic Sans Ms", Times, serif;
	border-bottom-width: 0px;
	/*border-bottom-style: dashed;*/
	border-bottom-color: #dad0d0;
        border-top-width: 0px;
	/*border-top-style: dashed;*/
	border-top-color: #dad0d0;
	margin-top: 0px;
	margin-right: 0px;
	margin-bottom: 0px;
	margin-left: 0px;
        background:url(images/img3.jpg) repeat-x left top;
        height: 24px;
}
#sidebar1 ul li a {
	color: #9988aa;
	text-decoration: none;
	font-size:12px;
}
#mainContent {
	margin: 8px 208px 20px 8px; /* the right margin on this div element creates the column down the right side of the page - no matter how much content the sidebar1 div contains, the column space will remain. You can remove this margin if you want the #mainContent div's text to fill the #sidebar1 space when the content in #sidebar1 ends. */
}

#mainContent h1 {
	margin: 0; /* zeroing the margin of the last element in the #header div will avoid margin collapse - an unexplainable space between divs. If the div has a border around it, this is not necessary as that also avoids the margin collapse */
	padding: 1px 40px 3px 30px; /* using padding instead of margin will allow you to keep the element away from the edges of the div */
	color:#CB8852;
	font-size:16px;
        font-style: italic;
        font-family:"Comic Sans Ms", Times, serif;
        background:url(images/folder_full.png) no-repeat left center;
        height:25px;
        border-bottom-width: 1px;
	border-bottom-style: solid;
	border-bottom-color: #eee6e6;
        border-top-width: 1px;
	border-top-style: solid;
	border-top-color: #eee6e6;
}
.productPic {
	float:left;
	margin:0 20px 15px 0;
}
#footer { 
	height:70px;
	background:url(images/footer_bg.gif) repeat-x left top;
}
.rss {
	float:right;
	width:212px;
	margin:16px 0 0 20px;
}
#footer p {
	padding-top:15px;
	margin:0 240px 0 0;
	text-align:center;
        color:#666666;;
        font-style: italic;
} 
.footerLink  {
	color:#292b25;
	text-decoration:underline;
}
.clearfloat { /* this class should be placed on a div or break element and should be the final element before the close of a container that should fully contain a float */
	clear:both;
    height:0;
    font-size: 1px;
    line-height: 0px;
}
/*begin main menu*/
#navcontainer {
	margin:auto 0;
	width:900px;
	text-align:center;
        font-family: Georgia, "Times New Roman", Times, serif;
}
#navcontainer ul {
	padding: 0;
	margin: auto 0;
	background: url(images/menu_bg.gif) repeat-x left center;
	float: left;
	width: 100%;
}
#navcontainer ul li { 
	display: inline;
}
#navcontainer ul li a {
	color:#FFAAAA;
        font-style: italic;
	text-decoration: none;
	float: left;
	border-right: 1px solid #889988;
	font-size:17px;
	padding:11px 30px;
}
#navcontainer ul li a:hover {
	background: url(images/menuBackgroundActive.gif) repeat-x left top;
	color: #fff;
}
#navcontainer ul li #current {
	background: url(images/menuBackgroundActive.gif) repeat-x left top;
	color: #fff;
}

#post b {
	color: #9f9f98;
	font-weight:bold;
        font-family:"Comic Sans MS", Georgia,Verdana, serif;
        font-size: 14px;
}

#post ul li{
	background:url(images/blue-add.png) no-repeat left #eee6e6;
        background-position:5px 5px;
        border-bottom:1px #FFFFFF solid;
        text-decoration:none;
        color:#a04b4b;
        padding:0 0 0 30px;
        line-height:25px;
        list-style: none;
        font-family:"Comic Sans Ms", Georgia,Verdana, serif;
}

#post p{
	background: #eee6e6;
        background-position:5px 5px;
        border-bottom:1px #FFFFFF solid;
        text-decoration:none;
        color:#a04b4b;
        padding:0 0 0 10px;
        line-height:25px;
        list-style: none;
        font-family:"Comic Sans Ms", Georgia,Verdana, serif;
}

#post a{
        border-bottom:1px #FFFFFF solid;
        text-decoration:none;
        color:#CC6699;
        padding:0 0 0 0px;
        line-height:25px;
        list-style: none;
        font-family: "Comic Sans Ms",Arial,Verdana, serif;
        font-size: 12px;
}

.entry{
        color:#604b4b;
        font-family:Arial, Georgia,Verdana, "Comic Sans Ms";
        font-size: 12px;
}
/*end main menu*/
/* begin border corners*/
.t {background: #ffffff url(images/dot.gif) 0 0 repeat-x;}
.b {background:url(images/dot.gif) 0 100% repeat-x}
.l {background:url(images/dot.gif) 0 0 repeat-y}
.r {background:url(images/dot.gif) 100% 0 repeat-y}
.bl {background:url(images/bl.gif) 0 100% no-repeat}
.br {background:url(images/br.gif) 100% 100% no-repeat}
.tl {background:url(images/tl.gif) 0 0 no-repeat}
.tr {background:url(images/tr.gif) 100% 0 no-repeat; padding:1px 1px}
/* end border corners*/
/* begin news border corners*/
.n_t {background: #eeeeee url(images/n_dot.gif) 0 0 repeat-x;}
.n_b {background:url(images/n_dot.gif) 0 100% repeat-x}
.n_l {background:url(images/n_dot.gif) 0 0 repeat-y}
.n_r {background:url(images/n_dot.gif) 100% 0 repeat-y}
.n_bl {background:url(images/n_bl.gif) 0 100% no-repeat}
.n_br {background:url(images/n_br.gif) 100% 100% no-repeat}
.n_tl {background:url(images/n_tl.gif) 0 0 no-repeat}
.n_tr {background:url(images/n_tr.gif) 100% 0 no-repeat; padding:1px 1px}
/* end news border corners*/
.y { padding:10px 15px}


input.teks_input{
    height:18px;
    background-color:#fff;
    color:#999999;
    border:1px #DFDFDF solid;
    float:left;
}

textarea.teks_textarea{
    height:120px;
    font-family:Arial, Helvetica, sans-serif;
    font-size:12px;
    color: #999999;
    background-color:#fff;
    border:1px #DFDFDF solid;
    float:left;
}

input.register{
    height:25px;
    border:none;
    cursor:pointer;
    text-align:center;
    color:#FFFFFF;
    background:url(images/register_bt.gif) no-repeat center;
}

/*---------------contact_form------------------*/
.contact_form{
width:355px;
float:left;
padding:25px;
margin:20px 0 0 15px;
border:1px #DFD1D2 dashed;
position:relative;
}
.form_row{
width:335px;
clear:both;
padding:10px 0 10px 0;
color:#a53d17;
}
label.contact{
width:75px;
float:left;
font-size:12px;
text-align:right;
padding:4px 5px 0 0;
color: #333333;
}


/*--------------*/

.head td{
	font: 12px  "Comic Sans Ms", Arial, Helvetica, sans-serif;
	color: #BC8F8F;
	border-right: 1px solid #C1DAD7;
	border-bottom: 1px solid #C1DAD7;
	border-top: 1px solid #C1DAD7;
	letter-spacing: 1px;
	padding: 4px 2px 4px 10px;
	background: #eee6e6 ;
}

.head2 td{
        border-right: 1px solid #777777;
	border-bottom: 1px solid #777777;
	border-top: 1px solid #777777;
	padding: 6px 1px 6px 1px;
        background: #555555;
	color:#DDDDDD;
	font: 12px  "Comic Sans Ms", Arial, Helvetica, sans-serif;	
        height:100%
}

.head3 td{    
        border: 0px;
	color:#BC8F8F;
        padding: 0px 0px 0px 0px;
	font: 11px  "Comic Sans Ms", Arial, Helvetica, sans-serif;
}

.head4 td{
	border-bottom: 1px solid #888888;
        background: #FFFFFF;
        padding-top:0px;
	padding-bottom:0px;
	color:#333333;
	font: 11px  "Comic Sans Ms", Arial, Helvetica, sans-serif;
}

.head5 td{
	border-bottom: 1px solid #CCCCCC;
        border-top: 1px solid #CCCCCC;
        background: #FFFFFF;
	color:#333333;
        padding-top:0px;
	padding-bottom:0px;
	font: 11px  "Comic Sans Ms", Arial, Helvetica, sans-serif;
}

.head6 td{
        border-bottom: 1px solid #CCCCCC;
        background: #FFFFFF;
	color:#333333;
        padding-top:0px;
	padding-bottom:0px;
	font: 11px  "Comic Sans Ms", Arial, Helvetica, sans-serif;
}



.isi td{
	border-right: 1px solid #C1DAD7;
	border-bottom: 1px solid #C1DAD7;
	background: #ffffff;
	padding-top:1px;
	padding-bottom:1px;
	padding-left:8px;
	padding-right:8px;
	color:#CC6699;
	font: 12px  "Comic Sans Ms", Arial, Helvetica, sans-serif;
}

.isi2 td{
	padding-top:1px;
	padding-bottom:1px;
	padding-left:8px;
	padding-right:8px;
        font-family: Georgia, "Times New Roman", Times, serif;
	font-size: 13px;
	font-style: italic;
	color:#999999;
}

.isi3 td{
	border-right: 1px solid #FFFFFF;
	border-bottom: 1px solid #FFFFFF;
	background: #ffffff;
	padding-top:0px;
	padding-bottom:0px;
	padding-left:4px;
	padding-right:0px;
	color:#CC6699;
	font: 13px  "Comic Sans Ms", Arial, Helvetica, sans-serif;
}

.isi4 td{
        font: bold 13px  "Tahoma", Arial, Helvetica, sans-serif;
	color: #BC8F8F;
	border-right: 1px solid #eee6e6;
	border-bottom: 1px solid #eee6e6;
	border-top: 1px solid #eee6e6;
	letter-spacing: 1px;
	padding: 4px 2px 4px 10px;
	background: #eee6e6 ;
}

.isi5 td{
	border-right: 0px solid #eee6e6;
	border-bottom: 0px solid #eee6e6;
        border-top: 0px solid #eee6e6;
	padding-top:0px;
	padding-bottom:0px;
	padding-left:8px;
	padding-right:8px;
	color:#CC6699;
	font: 13px  tahoma, Arial, Helvetica, sans-serif;
}

.isi6 td{
	border-right: 1px solid #FFFFFF;
	border-bottom: 1px solid #FFFFFF;
	background: #ffffff;
	padding-top:0px;
	padding-bottom:0px;
	padding-left:1px;
	padding-right:0px;
	color:#CC6699;
	font: 9px 'Comic Sans Ms';
        font-weight: bold;
}

.isi7 td{
	border-right: 0px solid #C1DAD7;
	border-bottom: 0px solid #C1DAD7;
	padding-top:1px;
	padding-bottom:1px;
	padding-left:8px;
	padding-right:8px;
	color:#555555;
	font: 12px  "Comic Sans Ms", Arial, Helvetica, sans-serif;
}

.isi8 td{
	border-right: 1px solid #FFFFFF;
	border-bottom: 1px solid #FFFFFF;
	background: #ffffff;
	padding-top:0px;
	padding-bottom:0px;
	padding-left:4px;
	padding-right:0px;
	color:#CC6699;
	font: 12px  "Arial", Arial, Helvetica, sans-serif;
	font-style: italic;
}


.head9 td{
	font: 12px  "Arial", Arial, Helvetica, sans-serif;
        font-style: italic;
	color:#CC6699;
	border-right: 1px solid #C1DAD7;
	border-bottom: 1px solid #C1DAD7;
	border-top: 1px solid #C1DAD7;
	padding: 4px 2px 4px 10px;
	background: #ffffff;
}

.isi9 td{
	border-right: 1px solid #C1DAD7;
	border-bottom: 1px solid #C1DAD7;
	background: #ffffff;
	padding-top:1px;
	padding-bottom:1px;
	padding-left:8px;
	padding-right:8px;
	color:#CC6699;
	font: 12px  "Arial", Arial, Helvetica, sans-serif;
        font-style: italic;
}

.isi10 td{
	border-right: 1px solid #FFFFFF;
	border-bottom: 1px solid #FFFFFF;
	background: #ffffff;
	padding-top:0px;
	padding-bottom:0px;
	padding-left:4px;
	padding-right:0px;
	color:#CC6699;
	font: 12px  "Arial", Arial, Helvetica, sans-serif;
        font-style: italic;
}

.isi11 td{
        border-right: 1px solid #C1DAD7;
	border-bottom: 1px solid #C1DAD7;
	background: #ffffff;
	padding-top:1px;
	padding-bottom:1px;
	padding-left:8px;
	padding-right:8px;
	color:#CC6699;
	font: 12px  "Comic Sans Ms", Arial, Helvetica, sans-serif;	
        height:100%
}


.isi12 td{
	
	border-bottom: 1px solid #C1DAD7;
	background: #ffffff;
	padding-top:0px;
	padding-bottom:0px;
	padding-left:0px;
	padding-right:0px;
	color:#CC6699;
	font: 12px  "Comic Sans Ms", Arial, Helvetica, sans-serif;
}

.isi13 td{
	
	border-bottom: 0px;
	background: #ffffff;
	padding-top:0px;
	padding-bottom:0px;
	padding-left:0px;
	padding-right:0px;
	color:#CC6699;
	font: 12px  "Comic Sans Ms", Arial, Helvetica, sans-serif;
}

.isi14 td{
	background: #ffffff;
        border: 0px;
	color:#333333;
        padding-top:0px;
	padding-bottom:0px;
	padding-left:1px;
	padding-right:1px;
	font: 11px  "Comic Sans Ms", Arial, Helvetica, sans-serif;
}

.isi15 td{
	border: 0px;
	color:#CC6699;
	font: 11px  "Comic Sans Ms", Arial, Helvetica, sans-serif;
}

.tb table{
	border-right: 1px solid #C1DAD7;
	border-bottom: 1px solid #C1DAD7;
	border-top: 1px solid #C1DAD7;
        border-left: 1px solid #C1DAD7;
}

.tblbg table{
	background:#ffffff url(images/bgser.png) no-repeat center center ;
}

.button {
	margin-left: 0px;
	padding: 4px 4px;
	border: none;
	background: #915555;
	font-size: 12px;
	color: #FFFFFF;        
        font-family: "Comic Sans Ms", Times, serif;
         width:60px;
}

.text {
	background: #FFFFFF;
        font-size: 13px;
	padding: 3px 0 3px 5px;
	border: 1px solid #999999;
	color: #000000;
}

.text2 {
	background: #FFFFFF;
        font-size: 13px;
	padding: 3px 0 3px 5px;
	border: 1px solid #999999;
	color: #000000;
        width:210px;
}

.text3 {
	background: #FFFFFF;
        font-size: 13px;
	padding: 3px 0 3px 5px;
	border: 1px solid #999999;
	color: #000000;
        width:90px;
}

.text4 {
	background: #FFFFFF;
        font-size: 13px;
	padding: 3px 0 3px 5px;
	border: 1px solid #999999;
	color: #000000;
        width:300px;
}

.caption{
        height: 22px;
	padding: 0px 0 0 3px;
	color: #Af9f9f;
	font-weight:bold;
        font-family:"Tahoma", Georgia,Verdana, serif;
        font-size: 13px;
}

.link {
        font-family: Georgia, "tahoma", Times, serif;
	font-size: 12px;
	color: #BF3600;
        list-style: none;
}

/*--------left menu---------*/
ul.left_menu{
width:196px;
padding:0px;
margin:0px;
list-style:none;
}
ul.left_menu li{
margin:0px;
list-style:none;
}
ul.left_menu li.odd a{
width:166px;height:25px;display:block;background:url(images/checked.png) no-repeat left #dad0d0; background-position:8px 5px;border-bottom:0px #FFFFFF solid;
text-decoration:none;color:#504b4b;padding:0 0 0 33px; line-height:25px;
}
ul.left_menu li.even a{
width:166px;height:25px;display:block;background:url(images/checked.png) no-repeat left #eee6e6;background-position:8px 5px;border-bottom:0px #FFFFFF solid;
text-decoration:none;color:#504b4b;padding:0 0 0 33px; line-height:25px;
}
ul.left_menu li.even a:hover, ul.left_menu li.odd a:hover{
background:url(images/checked.png) no-repeat left #7bbcc7; color:#FFFFFF;background-position:5px 5px;
}

.cari a{
    font: bold 13px  "Tahoma", Arial, Helvetica, sans-serif;
	height:28px;
        display:inline;
        background:url(images/65.png) no-repeat left #C1DAD7;
        background-position:4px 5px;
        border-bottom:1px #FFFFFF solid;
        color:#504b4b;
}
