/**
 * CSS For Safari Browser
 */
/*
 * Variable
 */
/* Colors */
/*
 * Import Fonts
 *
 * Font Name: Lato, Raleway
 */
/* Lato Hariline */
@font-face {
  font-family: 'Lato';
  font-weight: 100;
  src: url("../fonts/Lato-Hairline.ttf");
}
@font-face {
  font-family: 'Lato';
  font-weight: 100;
  font-style: italic;
  src: url("../fonts/Lato-HairlineItalic.ttf");
}
/* End Lato Hariline */
/* Lato Light */
@font-face {
  font-family: 'Lato';
  font-weight: 200;
  src: url("../fonts/Lato-Light.ttf");
}
@font-face {
  font-family: 'Lato';
  font-weight: 200;
  font-style: italic;
  src: url("../fonts/Lato-LightItalic.ttf");
}
/* End Lato Light */
/* Lato Regular */
@font-face {
  font-family: 'Lato';
  font-weight: 300;
  src: url("../fonts/Lato-Regular.ttf");
}
@font-face {
  font-family: 'Lato';
  font-weight: 300;
  font-style: italic;
  src: url("../fonts/Lato-Italic.ttf");
}
/* End Lato Regular */
/* Lato Bold */
@font-face {
  font-family: 'Lato';
  font-weight: 400;
  src: url("../fonts/Lato-Bold.ttf");
}
@font-face {
  font-family: 'Lato';
  font-weight: 400;
  font-style: italic;
  src: url("../fonts/Lato-BoldItalic.ttf");
}
/* End Lato Bold */
/* Lato Black */
@font-face {
  font-family: 'Lato';
  font-weight: 500;
  src: url("../fonts/Lato-Black.ttf");
}
@font-face {
  font-family: 'Lato';
  font-weight: 500;
  font-style: italic;
  src: url("../fonts/Lato-BlackItalic.ttf");
}
/* End Lato Black */
/* Raleway Thin */
@font-face {
  font-family: 'Raleway';
  font-weight: 100;
  src: url("../fonts/Raleway-Thin.ttf");
}
@font-face {
  font-family: 'Raleway';
  font-weight: 100;
  font-style: italic;
  src: url("../fonts/Raleway-ThinItalic.ttf");
}
/* End Raleway Thin */
/* Raleway ExtraLight */
@font-face {
  font-family: 'Raleway';
  font-weight: 200;
  src: url("../fonts/Raleway-ExtraLight.ttf");
}
@font-face {
  font-family: 'Raleway';
  font-weight: 200;
  font-style: italic;
  src: url("../fonts/Raleway-ExtraLightItalic.ttf");
}
/* End Raleway ExtraLight */
/* Raleway Light */
@font-face {
  font-family: 'Raleway';
  font-weight: 300;
  src: url("../fonts/Raleway-Light.ttf");
}
@font-face {
  font-family: 'Raleway';
  font-weight: 300;
  font-style: italic;
  src: url("../fonts/Raleway-LightItalic.ttf");
}
/* End Raleway Light */
/* Raleway Regular */
@font-face {
  font-family: 'Raleway';
  font-weight: 400;
  src: url("../fonts/Raleway-Regular.ttf");
}
@font-face {
  font-family: 'Raleway';
  font-weight: 400;
  font-style: italic;
  src: url("../fonts/Raleway-Italic.ttf");
}
/* End Raleway Regular */
/* Raleway Medium */
@font-face {
  font-family: 'Raleway';
  font-weight: 500;
  src: url("../fonts/Raleway-Medium.ttf");
}
@font-face {
  font-family: 'Raleway';
  font-weight: 500;
  font-style: italic;
  src: url("../fonts/Raleway-MediumItalic.ttf");
}
/* End Raleway Medium */
/* Raleway SemiBold */
@font-face {
  font-family: 'Raleway';
  font-weight: 600;
  src: url("../fonts/Raleway-SemiBold.ttf");
}
@font-face {
  font-family: 'Raleway';
  font-weight: 600;
  font-style: italic;
  src: url("../fonts/Raleway-SemiBoldItalic.ttf");
}
/* End Raleway SemiBold */
/* Raleway Bold */
@font-face {
  font-family: 'Raleway';
  font-weight: 700;
  src: url("../fonts/Raleway-Bold.ttf");
}
@font-face {
  font-family: 'Raleway';
  font-weight: 700;
  font-style: italic;
  src: url("../fonts/Raleway-BoldItalic.ttf");
}
/* End Raleway Bold */
/* Raleway ExtraBold */
@font-face {
  font-family: 'Raleway';
  font-weight: 800;
  src: url("../fonts/Raleway-ExtraBold.ttf");
}
@font-face {
  font-family: 'Raleway';
  font-weight: 800;
  font-style: italic;
  src: url("../fonts/Raleway-ExtraBoldItalic.ttf");
}
/* End Raleway ExtraBold */
/* Raleway Black */
@font-face {
  font-family: 'Raleway';
  font-weight: 900;
  src: url("../fonts/Raleway-Black.ttf");
}
@font-face {
  font-family: 'Raleway';
  font-weight: 900;
  font-style: italic;
  src: url("../fonts/Raleway-BlackItalic.ttf");
}
/* End Raleway Black */
/* Merriweather */
@font-face {
  font-family: 'Merriweather';
  font-weight: 300;
  src: url("../fonts/Merriweather-Light.ttf");
}
@font-face {
  font-family: 'Merriweather';
  font-weight: 300;
  font-style: italic;
  src: url("../fonts/Merriweather-LightItalic.ttf");
}
@font-face {
  font-family: 'Merriweather';
  font-weight: 400;
  src: url("../fonts/Merriweather-Regular.ttf");
}
@font-face {
  font-family: 'Merriweather';
  font-weight: 400;
  font-style: italic;
  src: url("../fonts/Merriweather-Italic.ttf");
}
@font-face {
  font-family: 'Merriweather';
  font-weight: 700;
  src: url("../fonts/Merriweather-Bold.ttf");
}
@font-face {
  font-family: 'Merriweather';
  font-weight: 700;
  font-style: italic;
  src: url("../fonts/Merriweather-BoldItalic.ttf");
}
@font-face {
  font-family: 'Merriweather';
  font-weight: 900;
  src: url("../fonts/Merriweather-Black.ttf");
}
/* End Merriweather */
.menu ul li ul {
  -webkit-transition: none;
  -webkit-transform: none;
}
.menu ul li ul li a:after {
  display: none;
}
.menu ul li ul li a:hover {
  background-color: #F73F52;
}
.menu ul li:hover ul {
  -webkit-transition: none;
  -webkit-transform: none;
}

.social.trp li a {
  line-height: 36px;
  border: 2px solid transparent;
}
.social.trp li a:hover {
  background-color: transparent;
}
.social.trp li a.search-toggle:hover {
  border-color: #F73F52;
}
.social.trp li a.search-toggle.active {
  border-color: #F73F52;
  border-left-color: transparent;
}
.social.trp li a.facebook:hover {
  color: #3b5998;
  border-color: #3b5998;
}
.social.trp li a.twitter:hover {
  color: #4099FF;
  border-color: #4099FF;
}
.social.trp li a.youtube:hover {
  color: #C4302B;
  border-color: #C4302B;
}
.social.trp li a.googleplus:hover {
  color: #DE5245;
  border-color: #DE5245;
}
.social.trp li a.instagram:hover {
  color: #885343;
  border-color: #885343;
}
.social.trp li a.tumblr:hover {
  color: #36465D;
  border-color: #36465D;
}
.social.trp li a.dribbble:hover {
  color: #E14C86;
  border-color: #E14C86;
}
.social.trp li a.linkedin:hover {
  color: #007BB6;
  border-color: #007BB6;
}
.social.trp li a.skype:hover {
  color: #00AFF0;
  border-color: #00AFF0;
}
.social.trp li a.rss:hover {
  color: #ee802f;
  border-color: #ee802f;
}
.social.trp li a.github:hover {
  color: #000;
  border-color: #000;
}
.social.trp li a.whatsapp:hover {
  color: #25D366;
  border-color: #25D366;
}
.social.trp li a.snapchat:hover {
  color: #FFFC01;
  border-color: #FFFC01;
}
.social.trp li a.foursquare:hover {
  color: #EF4B78;
  border-color: #EF4B78;
}
.social.trp li a.pinterest:hover {
  color: #B82B38;
  border-color: #B82B38;
}
.social.trp li a.wordpress:hover {
  color: #21759A;
  border-color: #21759A;
}
.social.trp li a.reddit:hover {
  color: #1288DF;
  border-color: #1288DF;
}
.social.trp li a.hackernews:hover {
  color: #FF6600;
  border-color: #FF6600;
}
.social.trp li a.designernews:hover {
  color: #3275D6;
  border-color: #3275D6;
}
.social.trp li a.yahoo:hover {
  color: #420297;
  border-color: #420297;
}
.social.trp li a.buffer:hover {
  color: #000000;
  border-color: #000000;
}
.social.trp li a.vimeo:hover {
  color: #1AB7EA;
  border-color: #1AB7EA;
}
.social.trp li a.twitch:hover {
  color: #6441A4;
  border-color: #6441A4;
}

.social.sm li a {
  line-height: 24px !important;
}

/*# sourceMappingURL=safari.css.map */
