@charset "utf-8";
body  {
	font-family:Tahoma;
	font-size:11px;
	background: #ffffff;
	margin: 0; /* it's good practice to zero the margin and padding of the body element to account for differing browser defaults */
	padding: 0;
	color: #323232;
}
h1 {    
	color:#54684A;
}
#container { 
	width: 100%;  /* using 20px less than a full 800px width allows for browser chrome and avoids a horizontal scroll bar */
	background: #ffffff;
} 
#header { 
	background: #ffffff;
	width: 900px;
	height: 168px;
}
#header .headerBackground {
	width:900px;
	height:121px;
	background:url(images/main_bg.gif) no-repeat left top;
} 
#header h1 {
	margin: 0; /* zeroing the margin of the last element in the #header div will avoid margin collapse - an unexplainable space between divs. If the div has a border around it, this is not necessary as that also avoids the margin collapse */
	padding: 100px 40px 0 0; /* using padding instead of margin will allow you to keep the element away from the edges of the div */
	color:#323232;
	text-align:right;
}
#header h3 {
	margin: 0; /* zeroing the margin of the last element in the #header div will avoid margin collapse - an unexplainable space between divs. If the div has a border around it, this is not necessary as that also avoids the margin collapse */
	padding: 5px 40px 0 0; /* using padding instead of margin will allow you to keep the element away from the edges of the div */
	color:#323232;
	text-align:right;
	font-size:11px;
}

#mainContent {
	margin: auto 0; /* the right margin on this div element creates the column down the right side of the page - no matter how much content the sidebar1 div contains, the column space will remain. You can remove this margin if you want the #mainContent div's text to fill the #sidebar1 space when the content in #sidebar1 ends. */
}

#mainContent h1 {
	margin: 0; /* zeroing the margin of the last element in the #header div will avoid margin collapse - an unexplainable space between divs. If the div has a border around it, this is not necessary as that also avoids the margin collapse */
	padding: 5px 40px 0 30px; /* using padding instead of margin will allow you to keep the element away from the edges of the div */
	color:#98ac8e;
	font-size:11px;
        font:Tahoma;
        font-style: normal;
        background:url(images/folder_full.png) no-repeat left center;
        height:25px;
        border-bottom-width: 1px;
	border-bottom-style: solid;
	border-bottom-color: #e2e7dd;
        border-top-width: 1px;
	border-top-style: solid;
	border-top-color: #e2e7dd;
}

.title{
	margin: 0; /* zeroing the margin of the last element in the #header div will avoid margin collapse - an unexplainable space between divs. If the div has a border around it, this is not necessary as that also avoids the margin collapse */
	padding: 5px 40px 0 30px; /* using padding instead of margin will allow you to keep the element away from the edges of the div */
	color:#43573;
	font-size:11px;
        font:Tahoma;
        font-style: normal;
        background:url(images/folder_full.png) no-repeat left center;
        height:25px;
        border-bottom-width: 1px;
	border-bottom-style: solid;
	border-bottom-color: #e2e7dd;
        border-top-width: 1px;
	border-top-style: solid;
	border-top-color: #e2e7dd;
}

.rss {
	float:right;
	width:211px;
	margin:16px 0 0 20px;
}
#footer p {
	padding-top:15px;
	margin:0 240px 0 0;
	text-align:center;
        color:#323232;;
        font-style: italic;
} 
.footerLink  {
	color:#323232;
	text-decoration:underline;
}
.clearfloat { 
	clear:both;
    height:0;
    font-size: 1px;
    line-height: 0px;
}
#navcontainer {        
	margin:auto 0;
	width:100%;
	text-align:center;
        font-family: Tahoma;
}
#navcontainer table {
	margin: auto 0;
	background: #ffffff;
	float: left;
	width: 100%;
        border-bottom-width: 1px;
	border-bottom-style: solid;
	border-bottom-color: #f1f6ec;
        border-top-width: 1px;
	border-top-style: solid;
	border-top-color: #f1f6ec;
        border-right-width: 1px;
	border-right-style: solid;
	border-right-color: #f1f6ec;
        border-left-width: 1px;
	border-left-style: solid;
	border-left-color: #f1f6ec;        
}

#navcontainer table tr td {
	color:#323232;
	text-decoration: none;
	font-size:11px;
}
#navcontainer table tr td a{
	color:#323232;
	text-decoration: none;
	font-size:11px;
}
#navcontainer table tr td:hover {
	background: #f5faf0;
	color: #aaceaf;
}
#navcontainer table tr td #current {
	background: #babb65;
	color: #323232;
}

#post b {
	color: #879B7D;
        font-family:Tahoma;
        font-size: 11px;
}

#post{
    background: #ffffff;
    width: 99.8%;
    height: 99.5%;
}



#post ul li{
	background:url(images/blue-add.png) no-repeat left #e2e7dd;
        background-position:5px 5px;
        border-bottom:1px #ffffff solid;
        text-decoration:none;
        color:#323232;
        padding:0 0 0 30px;
        line-height:25px;
        list-style: none;
        font-family:Tahoma;
        font-size:11px;
}

#post p{
	background: #e2e7dd;
        background-position:5px 5px;
        border-bottom:1px #ffffff solid;
        text-decoration:none;
        color:#323232;
        padding:0 0 0 10px;
        line-height:25px;
        list-style: none;
        font-family:Tahoma;
}

#post a{
        text-decoration:none;
        color:#323232;
        padding:0 0 0 0px;
        font-family: Tahoma;
        font-size: 11px;
}



input.teks_input{
    height:18px;
    background-color:#fff;
    color:#323232;
    border:1px #DFDFDF solid;
    float:left;
}

textarea.teks_textarea{
    height:120px;
    font-family:Tahoma;
    font-size:11px;
    color: #323232;
    background-color:#fff;
    border:1px #DFDFDF solid;
    float:left;
}

input.register{
    height:25px;
    border:none;
    cursor:pointer;
    text-align:center;
    color:#323232;
    background:url(images/register_bt.gif) no-repeat center;
}

/*---------------contact_form------------------*/
.contact_form{
width:355px;
float:left;
padding:25px;
margin:20px 0 0 15px;
border:1px #DFD1D2 dashed;
position:relative;
}
.form_row{
width:335px;
clear:both;
padding:10px 0 10px 0;
color:#323232;
}
label.contact{
width:75px;
float:left;
font-size:11px;
text-align:right;
padding:4px 5px 0 0;
color: #323232;
}

.head td{
	color:#323232;
	font: 11px  tahoma;
	background: #FFFAF8;
	border-bottom: 1px solid #f1f6ec;
        border-right: 1px solid #f1f6ec;
	border-top: 1px solid #f1f6ec;
	letter-spacing: 1px;
	padding: 4px 2px 4px 10px;
}

.head3 td{
	color:#323232;
	font: 11px  tahoma;
	background: #FFFAF8;
	border-bottom: 1px solid #f1f6ec;
	border-top: 1px solid #f1f6ec;
	letter-spacing: 1px;
	padding: 4px 2px 4px 10px;
}


.head2 td{
	color:#323232;
	font: 11px  tahoma;
	background: #FFFAF8;
	border-bottom: 1px solid #e2e7dd;
        border-right: 1px solid #777777;
	letter-spacing: 1px;
	padding: 2px 2px 2px 2px;
}


.isi td{
	border-right: 1px solid #e2e7dd;
	border-bottom: 1px solid #e2e7dd;
	background: #ffffff;
	padding-top:4px;
	padding-bottom:4px;
	padding-left:2px;
	color:#323232;
	font: 11px  tahoma;
}

.isi2 td{
	padding-top:3px;
	padding-bottom:0px;
	padding-left:8px;
	padding-right:8px;
        font-family: Tahoma;
	font-size: 11px;
	font-style: italic;
	color:#323232;
}

.isi3 td{
	border-right: 1px solid #ffffff;
	border-bottom: 1px solid #ffffff;
	background: #ffffff;
	padding-left:2px;
	padding-right:0px;
	color:#323232;
	font: 11px  tahoma, Tahoma, Helvetica, sans-serif;
}

.isi4 td{
        font: 11px  Tahoma;
	color: #323232;
	border-right: 1px solid #e2e7dd;
	border-bottom: 1px solid #e2e7dd;
	border-top: 1px solid #e2e7dd;
	letter-spacing: 1px;
	padding: 4px 2px 4px 10px;
	background: #ffffff ;
}

.isi5 td{
	border-right: 0px solid #e2e7dd;
	border-bottom: 0px solid #e2e7dd;
        border-top: 0px solid #e2e7dd;
	padding-top:3px;
	padding-bottom:3px;
	padding-left:8px;
	padding-right:8px;
	color:#323232;
	font: 11px  Tahoma;
}

.isi6 td{
	border-right: 1px solid #ffffff;
	border-bottom: 1px solid #ffffff;
	background: #ffffff;
	padding-top:0px;
	padding-bottom:0px;
	padding-left:1px;
	padding-right:0px;
	color:#323232;
	font: 9px Tahoma;
}

.isi7 td{
    border-bottom: 1px solid #e2e7dd;
}

.isi8 td{	
	background: #ffffff;
	padding-top:3px;
	padding-bottom:3px;
	padding-left:2px;
        border: none;
	color:#323232;
	font: 11px  tahoma;
}

.button {
	margin-left: 10px;
	padding: 4px 4px;
	border: none;
	background: #f2f7eb;
	font-size: 11px;
        font: Tahoma;
	color: #323232;
}

.text {
	background: #ffffff;
        font-size: 11px;
        font: Tahoma;
	padding: 3px 0 3px 5px;
	border: 1px solid #e2e7de;
	color: #323232;
}

.text2 {
	background: #ffffff;
        font-size: 11px;
        font: Tahoma;
	padding: 3px 0 3px 5px;
	border: 1px solid #e2e7de;
	color: #323232;
        width:210px;
}

.text3 {
	background: #ffffff;
        font-size: 11px;
        font: Tahoma;
	padding: 3px 0 3px 5px;
	border: 1px solid #e2e7de;
	color: #323232;
        width:90px;
}

.text4 {
	background: #ffffff;
        font-size: 11px;
        font: Tahoma;
	padding: 3px 0 3px 5px;
	border: 1px solid #e2e7de;
	color: #323232;
        width:120px;
}

.caption{
        height: 22px;
	padding: 0px 0 0 3px;
	color: #323232;
        font-family:Tahoma;
        font-size: 11px;
}

.link {        
        text-decoration:none;
        color:#323232;
        padding:0 0 0 0px;
        line-height:26px;
        list-style: none;
        font-family: Tahoma;
        font-size: 11px;
}

/*--------left menu---------*/
ul.left_menu{
width:196px;
padding:0px;
margin:0px;
list-style:none;
}
ul.left_menu li{
margin:0px;
list-style:none;
}
ul.left_menu li.odd a{
width:166px;height:25px;display:block;background:#f9fef4; font: 11px  Tahoma;
text-decoration:none;color:#323232;padding:0 0 0 31px; line-height:25px;
}
ul.left_menu li.even a{
width:166px;height:25px;display:block;background:#f5faf0;font: 11px  Tahoma;
text-decoration:none;color:#323232;padding:0 0 0 31px; line-height:25px;
}
ul.left_menu li.even a:hover, ul.left_menu li.odd a:hover{
background:#7bbcc7; color:#aaceaf;background-position:5px 5px;font: 11px  Tahoma;
}

.cari a{
    font: 11px  Tahoma;
	height:28px;
        display:inline;
        background:url(images/65.png) no-repeat left #f1f6ec;
        background-position:4px 5px;
        border-bottom:1px #ffffff solid;
        color:#323232;
}
